@page      //Tells ASP.NET that this is a Razor Page and can handle requests directly.
@model IndexModel //Links the Razor Page (HTML) to its corresponding PageModel (code-behind file).In this case, the IndexModel is the name of the PageModel class that contains the logic for this page.


@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
